.App {
  text-align: center;
}

.form{
  margin: 10px;
  display: inline-block;
  width: 400px;
  height: auto+10px;
  border: 2px solid black;
  background-color: rgb(226, 73, 73);
}

.form:hover{
  display: inline-block;
border:2px solid rgb(240, 129, 129);
border-radius: 20px;
box-shadow: 10px 10px 10px grey;
  background-color: rgb(73, 226, 93);
}
.label{
  width: 100px;
  margin: 10px;
  font-size: medium;
  display: inline-block;

}

input{
 width: auto;
 border-radius: 20px;
}

.buttonDiv{
  display: inline-block;
  margin: 5px;
}

.profilePicPreview{
  width: 150px;
  height: 150px;
  border: 0.5px solid black;
}

